<?xml version="1.0"?>

<robot xlmns:xacro="http://www.ros.org/wiki/xacro" name="cylinder_robot">

<xacro:property name="base_link_length" value="0.5"/>
<xacro:property name="base_link_radius" value="0.4"/>

<!-- Over here we include the file that defines extra Gazebo options and motion control driver -->
<xacro:include filename="$(find cylinder_gazebo)/model/robot.gazebo" />

<link name="dummy">
</link>
<joint name="dummy_joint" type="fixed">
    <parent link="dummy"/>
    <child link="base_link"/>
</joint>

<link name="base_link">
    <visual>
        <geometry>
            <cylinder length="${base_link_length}" radius="${base_link_radius}" />
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>
    
    <collision>
        <geometry>
            <cylinder length="${base_link_length}" radius="${base_link_radius}" />
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>
    
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="1"/>
        <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
    </inertial>
</link>

</robot>
